# Data Science Tools and Ecosystem

In [9]:
import pandas as pd
url = './car_specs_combined.csv'

data = pd.read_csv(url )
# data.head()
# data.dtypes
# data.describe(include='all')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Model            33 non-null     object
 1   Year Created     33 non-null     int64
 2   Engine           33 non-null     object
 3   0-60 mph (s)     33 non-null     float64
 4   0-100 mph (s)    33 non-null     float64
 5   Top Speed (mph)  33 non-null     int64
 6   Power (hp)       33 non-null     int64
 7   Description      33 non-null     object
dtypes: float64(2), int64(3), object(3)
memory usage: 2.2+ KB

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Ordered List
* Unordered List
* Table

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. C++

Some of the commonly used libraries used by Data Scientists include:
* Numpy
* TensorFlow
* ggplot

|Data Science Tools|
|------------------|
|Virtual studio Code|
|Jupyter Notebook|
|Pycharm|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
print(f"200 minutes is equal to   {hours} hours")

200 minutes is equal to   3.3333333333333335 hours

## Author
Ibyishaka Tresor Thierry Alain